name: Release for Linux

on: [ push, pull_request ]

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  release_linux:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        with:
          version: latest

      - name: Install Node.js and pnpm
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '22.x'
          cache: 'pnpm'

      - run: pnpm install
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm build-all
      - run: pnpm cli --help
      - run: pnpm dev:cli --help

      #      - name: Prepare for signing
      #        uses: samuelmeuli/action-snapcraft@v1
      #        # Only install Snapcraft on Ubuntu
      #        if: ${{ startsWith(matrix.os, 'ubuntu') && startsWith(github.ref, 'refs/tags/v') }}
      #        with:
      #          # Log in to Snap Store
      #          snapcraft_token: ${{ secrets.snapcraft_token }}

      - name: Build native executable
        if: ${{ startsWith(matrix.os, 'ubuntu') && startsWith(github.ref, 'refs/tags/v') }}
        run: pnpm install --network-timeout 1000000 && pnpm package-linux
        env:
          GH_TOKEN: ${{ secrets.github_token }}

      - name: Release assets
        if: ${{ startsWith(matrix.os, 'ubuntu') && startsWith(github.ref, 'refs/tags/v') }}
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1
        with:
          draft: true
          allowUpdates: true
          artifacts: "bin/linux/*"
          token: ${{ secrets.GITHUB_TOKEN }}
