name: Release for MacOS

on: [push, pull_request]

env:
  ACTIONS_ALLOW_UNSECURE_COMMANDS: true

jobs:
  release_macos:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ macos-latest ]

    steps:
      - name: Check out Git repository
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Install pnpm
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4
        with:
          version: latest

      - name: Install Node.js and pnpm
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: '22.x'
          cache: 'pnpm'

      - run: pnpm install
      - run: pnpm lint
      - run: pnpm test
      - run: pnpm build-all
      - run: pnpm cli --help
      - run: pnpm dev:cli --help

      - name: Build native executable
        if: ${{ startsWith(matrix.os, 'macos') && startsWith(github.ref, 'refs/tags/v') }}
        run: pnpm install --fetch-timeout 1000000 && pnpm package-macos
        env:
          GH_TOKEN: ${{ secrets.github_token }}

      #      - name: Prepare for app notarization
      #        if: ${{ startsWith(matrix.os, 'macos') && startsWith(github.ref, 'refs/tags/v') }}
      #        # Import Apple API key for app notarization on macOS
      #        run: |
      #          mkdir -p ~/private_keys/
      #          echo '${{ secrets.api_key }}' > ~/private_keys/AuthKey_${{ secrets.api_key_id }}.p8

      - name: Release assets
        if: ${{ startsWith(matrix.os, 'macos') && startsWith(github.ref, 'refs/tags/v') }}
        uses: ncipollo/release-action@bcfe5470707e8832e12347755757cec0eb3c22af # v1
        with:
          draft: true
          allowUpdates: true
          artifacts: "bin/macos/*"
          token: ${{ secrets.GITHUB_TOKEN }}
